@model IEnumerable<ScientificAuthorsDB.Models.Publication>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

<form asp-action="Index" method="get" class="row g-2 mb-4 p-3 bg-light rounded">
    <div class="col-md-4">
        <input type="text" name="searchTitle" value="@ViewData["SearchTitle"]"
               class="form-control" placeholder="Търси по заглавие..." />
    </div>
    <div class="col-md-3">
        <select name="searchType" class="form-select" asp-items="ViewBag.Types">
            <option value="">-- Всички типове --</option>
        </select>
    </div>
    <div class="col-md-2">
        <input type="number" name="searchYear" value="@ViewData["SearchYear"]"
               class="form-control" placeholder="Година" />
    </div>
    <div class="col-md-3 d-flex gap-2">
        <button type="submit" class="btn btn-primary">🔍 Търси</button>
        <a asp-action="Index" class="btn btn-outline-secondary">Изчисти</a>
    </div>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Abstract)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Year)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Doi)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Journal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PublicationType)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Abstract)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Year)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Doi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Journal)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PublicationType)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
