@model IEnumerable<ScientificAuthorsDB.Models.Author>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

<form asp-action="Index" method="get" class="row g-2 mb-4 p-3 bg-light rounded">
    <div class="col-md-4">
        <input type="text" name="searchName" value="@ViewData["SearchName"]"
               class="form-control" placeholder="Търси по име..." />
    </div>
    <div class="col-md-3">
        <select name="searchField" class="form-select" asp-items="ViewBag.Fields">
            <option value="">-- Всички области --</option>
        </select>
    </div>
    <div class="col-md-2">
        <input type="number" name="searchYear" value="@ViewData["SearchYear"]"
               class="form-control" placeholder="Година" />
    </div>
    <div class="col-md-3 d-flex gap-2">
        <button type="submit" class="btn btn-primary">🔍 Търси</button>
        <a asp-action="Index" class="btn btn-outline-secondary">Изчисти</a>
    </div>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OrcidId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BirthYear)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OrcidId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BirthYear)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
